* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
.header {
    position: fixed;
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
}

.header.hide {
    top: -81px;
}

.empty-header-place {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: black;
}

.logo-with-text-container {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 40%;
}

.logo {
    max-height: 60px;
    width: auto;
    margin: 5px;
    padding: 5px;
}

.mercedes-benz-text {
    max-height: 40px;
    width: auto;
    margin: 0 5px;
    padding: 0 5px;
}

.nav-item {
    margin: 10px 5px;
    padding: 10px 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.nav-link:hover {
    color: rgb(76, 125, 223);
}

.navbar {
    max-width: 80%;
    align-items: center;
    margin: 5px 0;
    padding: 5px 0;
}

.nav-list {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    list-style: none;
}

.nav-item {
    display: inline-flex;
    margin: 0 10px;
}

.nav-item:last-child {
    margin-right: 20px;
    padding-right: 20px;
}

.active {
    color: rgb(188, 188, 255);
}

.full-size-image-section {
    width: 100%;
    height: auto;
}

.full-size-image-section img {
    display: block;
    width: 100%;
    -webkit-animation: fadein 1s ease-in-out;
    -moz-animation: fadein 1s ease-in-out;
    -o-animation: fadein 1s ease-in-out;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-section {
    width: 100%;
    height: auto;
    background-color: black;
}

.welcome-section>div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 5rem;
}

.section-header-text {
    font-family: 'Castoro', serif;
    font-size: max(20px, 2vw);
}

.section-general-text {
    font-size: max(12px, 1.2vw);
}

.welcome-section>div>p {
    margin: 0.3rem 0;
    padding: 0.3rem 0;
}

.welcome-section a {
    text-decoration: none;
    color: rgb(188, 188, 255);
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.welcome-section a:hover {
    color: rgb(76, 125, 223);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 161);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 187, 187);
}

.article-section {
    width: 100%;
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 240px;
    background-color: black;
    --stagger-delay: 200ms;
}

@media screen and (min-width: 1500px) {
    .article-section {
        grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
        grid-auto-rows: 360px;
    }
}

.article {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.75rem 0.175rem;
    transition: all 500ms;
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-end;
}

.animate {
    animation: articleAppearance 700ms ease-out;
    animation-fill-mode: backwards;
}

@keyframes articleAppearance {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

article:nth-child(1) {
    animation-delay: calc(var(--stagger-delay) * 1);
}

article:nth-child(2) {
    animation-delay: calc(var(--stagger-delay) * 2);
}

article:nth-child(3) {
    animation-delay: calc(var(--stagger-delay) * 3);
}

article:nth-child(4) {
    animation-delay: calc(var(--stagger-delay) * 4);
}

article:nth-child(5) {
    animation-delay: calc(var(--stagger-delay) * 5);
}

article:nth-child(6) {
    animation-delay: calc(var(--stagger-delay) * 6);
}

.text-on-article-container {
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    max-height: max(8%, 35px);
    transition: max-height .5s linear, background-color 0.5s ease-in-out;
}

.article:hover .text-on-article-container {
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.text-on-article-container p:first-child {
    font-size: max(1.6vw, 20px);
    font-family: 'Castoro', serif;
}

.text-on-article-container p {
    padding: 0.3rem 0.5rem;
    font-size: max(1.2vw, 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    transition: transform 0.5s ease-in-out;
}

.article:hover .text-on-article-container p {
    transform: translateX(10px);
    white-space: normal;
}

.article:hover {
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5rem;
    transform: translateY(-10px) scale(1.03);
    z-index: 1;
}

@media screen and (min-width: 730px) {
    .article-tall {
        grid-row: span 2 / auto;
    }
    .article-wide {
        grid-column: span 2 / auto;
    }
}

.footer {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 12px;
}

.footer p {
    margin: 0 5px;
}

.footer a {
    text-decoration: none;
    color:  rgba(76, 125, 223, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer a:hover {
    color: rgb(61, 117, 228);
}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: column;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
    .header.hide {
        top: -121px;
    }
    .empty-header-place {
        height: 120px;
    }
    .logo {
        margin: 0;
        padding: 0;
    }
    .logo-with-text-container {
        margin: 5px 0 0 0;
        padding: 5px 0 0 0;
        max-width: 100%;
    }
    .navbar {
        max-width: 100%;
    }
    .welcome-section>div {
        padding: 20px;
        width: 90%;
    }
    .welcome-section p:first-child {
        font-size: 4vw;
    }
    .welcome-section p {
        font-size: 2.4vw;
    }
}

.vehicles-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.vehicles-header {
    margin: 10px;
    padding: 10px;
}

.vehicles-header-text {
    font-size: 4vw;
    font-family: 'Castoro', serif;
}

#vehicles-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    column-gap: 5px;
    row-gap: 15px;
}

.vehicle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.75rem 0.175rem;
    transition: all 500ms;
}

.vehicle-container:hover {
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5rem;
    z-index: 1;
}

.vehicle-container:hover img {
    transform: translateY(-10px) scale(1.03);
}

.vehicle-container p {
    display: block;
    padding: 10px;
    text-align: center;
}

.vehicle-container img {
    width: 100%;
    height: auto;
    transition: all 500ms;
}

.vehicle-name {
    font-size: max(20px, 2vw);
    font-family: 'Castoro', serif;
}

.vehicle-price {
    font-size: max(12px, 1.2vw);
    opacity: 0.7;
}

.vehicle-short-description {
    font-size: max(14px, 1.4vw);
}

.little-empty-space {
    height: 50px;
}

.text-image-section {
    width: 100%;
    height: auto;
    background-color: white;
}

.text-image-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    overflow: hidden;
}

.text-image-section>div {
    position: relative;
    width: 40%;
    height: auto;
    margin: 10px;
    padding: 10px;
    visibility: hidden;
}

.animate-fadein-goup {
    animation: fadeingoup 0.5s ease-in;
}

@keyframes fadeingoup {
    from {
        top: 40px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.text-image-section>div>img {
    width: 100%;
    height: auto;
}

.text-image-section>div>p:first-child {
    color: black;
    font-size: max(20px, 2vw);
    margin-top: inherit;
}

.text-image-section>div>p {
    opacity: 0.8;
    margin: 20px 5px 5px 5px;
    font-family: sans-serif;
    font-size: max(11px, 1.1vw);
}

@media screen and (max-width: 1000px) {
    .text-image-section {
        flex-direction: column;
    }
    .text-image-section>div {
        width: 60%;
    }
}

.after-section-hr {
    color: black;
    transition: width 1s ease-out;
    width: 0;
}

.footer {

}