* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,900&display=swap');


.header {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo-with-text-container {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 20%;
}

.logo {
    max-height: 60px;
    width: auto;
    margin: 5px;
    padding: 5px;
}

.mercedes-benz-text {
    max-height: 40px;
    width: auto;
    margin: 0 5px;
    padding: 0 5px;
}

.nav-item {
    margin: 10px 5px;
    padding: 10px 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
}

.nav-link:hover {
    color: rgb(76, 125, 223) ;
}

.navbar {
    max-width: 80%;
    align-items: center;
    margin: 5px 0;
    padding: 5px 0;
}

.nav-list {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    list-style: none;
}

.nav-item {
    display: inline-flex;
    margin: 0 10px;
}

.nav-item:last-child {
    margin-right: 20px;
    padding-right: 20px;
}

.active {
    color: rgb(188, 188, 255);
}

.home-mercedes-image-section {
    max-height: 800px;
    width: auto;
}

.home-mercedes-image-section img {
    max-width: 100%;
    height: auto;
    -webkit-animation: fadein 1s ease-in-out;
    -moz-animation: fadein 1s ease-in-out;
    -o-animation: fadein 1s ease-in-out;
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}